# Langchain core
langchain
langchain-core

# OpenAI integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google gemini (PaLM) Integration
langchain-google-genai
google-generativeai
